<div class="main">
    
    <h1 class='contact'>Contactez nous !</h1>
    
    <div class="form">

    <label class='nom'>Nom</label>
    <input class="inputName" type="text" name="name" placeholder="Nom">

    <label class='prenom'>Prénom</label>
    <input class="inputFirstName" type="text" name="name" placeholder="Prénom">

    <label class='email'>Email</label>
    <input class="inputEmail" type="text" name="name" placeholder="Email">

    <label class='message'>Message</label>
    <textarea class="inputMessage" type="text" name="name" TextMode="MultiLine"></textarea>

    <button class='bouton' type="button">Envoyer</button>
    </div>
</div>
