h2 {
    text-align: center;
}

.author-post {
    border: 1px solid rgba(216, 210, 210, 0.425);
    border-radius: .5em;
    margin: 1em;
}

.author-title {
    border-bottom: 1px solid rgba(216, 210, 210, 0.425);
    margin: 0;
    padding: .5em 1em;
}

.author-content {
    text-align: justify;
    padding: .5em;
}

small.author-name {
    width: 100%;
    padding-left: 1em;
    display: inline-block;
    border-top: 1px solid rgba(216, 210, 210, 0.425);
    box-sizing: border-box;
}