<form (submit)="onSubmit($event)" [formGroup]='form' id="form-builder">
    <div class="input-wrapper" *ngFor="let input of group">
        <label for="{{ input.name }}">{{ input.label }}</label>
        <ng-container *ngIf="input.type === 'textarea' else inputField">
            <textarea 
                name="{{ input.name }}" 
                id="{{ input.name }}" 
                cols="30" rows="10" 
                formControlName="{{ input.name }}"
            ></textarea>
        </ng-container>
        <ng-template #inputField>
            <input 
                [ngClass]="{'input-error': hasErrors(input.name)}"
                type="{{ input.type }}" 
                name="{{ input.name }}" 
                id="{{ input.name }}" 
                formControlName="{{ input.name }}"
            />
        </ng-template>
        <div *ngIf="(hasErrors(input.name) && input.error)" class="error-box">{{ input.error }}</div>
        <div *ngIf="input.name === 'passwordConfirm' && form.errors?.areEquals && passwordConfirm?.dirty" class="error-box">{{ input.error }}</div>
    </div>
    <button [disabled]="form.invalid" type="submit" id="submit">{{ submitLabel }}</button>
</form>