:host {
  
  z-index: 1;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto 2em;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1em;
  text-align: center;
}

input {
  margin-top: 0.5em;
  background-color: rgba(94, 90, 90, 0.233);
  border: none;
  outline: none;
  border-bottom: solid 1px #4d4d4d;
  border-radius: 1em;
  box-shadow: #8c92ac;
  color: white;
  height: 2em;
}

#submit {
  color: white;
  background-color: black;
  border: none;
  outline: white;
  height: 2.3em;
  border-radius: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}

#submit[disabled] {
  background: rgba(71, 66, 66, 0.76);
}

.input-error {
  border: red 2px solid;
}

.error-box {
  background-color: #dc3545;
  padding: 0.6em;
  margin-top: 0.5em;
  border-radius: 0.5em;
}
